.container--tabs {
	margin: 2rem;
}

.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    float: left;
    margin-right: 2px;
    line-height: 1.42857143;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;

}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.tab-content {
    float: left;
    width: 100%;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .tab-pane.active {
    display: block;
    padding: 2.5% 3.5%;
    background-color: #efefef;
}

.tab-content > .active {
    display: block;
}
