body {
    background-color: #212223;
    background-image: radial-gradient(circle, transparent 1rem, #212223 1rem),
      linear-gradient(-45deg, #165004 0.5rem, transparent 0.5rem),
      linear-gradient(135deg, #165004 0.5rem, transparent 0.5rem);
    background-size: 5em 5em;
    background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
  }